<!-- New -->

{% extends "base.html" %}
{% load static %}
{% block title %}
FiveCorrect: {{ user.username }}'s Details
{% endblock %}
{% block canonical %}
<link rel="canonical" href="#" />
{% endblock canonical %}
{% block content %}
{% block styles %}
<style type="text/css">
    @media screen and (max-width: 600px) {
        div.about-intro__textContent{
            margin-top: -400px;
        }
    }
</style>
{% endblock styles %}
        <!-- Breadcrumb Starts Here -->
        <div class="py-0">
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/" class="fs-6 text-secondary">Home</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Breadcrumb Ends Here -->

        <!-- New section -->
<section>
<div class="site-content">
<div class="posts">
<div class="container">
            <div class="row welcome">
                <div class="col-md-8 card mb-4  mt-3 left  top">
                    <h3 class="display-6">Five Correct Weekly Competitions Leaderboard</h3>
                </div> 
            </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left top" id="love-calculator-intro">
            <h1>{{ user.username }}'s Competitions</h1>

{% for competition, predictions in competitions.items %}
    <h2>{{ competition.name }}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Match</th>
                <th>Predicted Score</th>
                <th>Actual Score</th>
                <th>Points</th>
                <th>Golden Goal (Predicted)</th>
                <th>Golden Goal (Actual)</th>
            </tr>
        </thead>
        <tbody>
            {% for prediction in predictions %}
            <tr>
                <td>{{ prediction.match.home_team }} vs {{ prediction.match.away_team }}</td>
                <td>{{ prediction.predicted_home_team_score }} - {{ prediction.predicted_away_team_score }}</td>
                <td>{{ prediction.match.home_team_score }} - {{ prediction.match.away_team_score }}</td>
                <td>{{ prediction.get_points }}</td>
                <td>{{ prediction.golden_goal }}</td>
                <td>{{ prediction.match.first_goal_time }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Overall Points</th>
                <th></th>
                <th></th>
                <th>{{ total_points }}</th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
{% endfor %}
        </div>
    </div>
</div>
</div>
</div>
</section>
<!-- New section -->

<!-- About Feature Starts Here -->
<br><br><br>
<!-- About Feature Ends Here -->
{% endblock %}




